<div class="row">
  <div class="col-xs-12">
    <p-growl [value]="mensajes" [sticky]="true"></p-growl>
    <div class="box">
      <div class="box-body">
        <p-dataTable [value]="listaUsuarios" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true">
          <p-header>
            <div class="ui-helper-clearfix" style="width:100%">
              <a class="btn btn-primary" href="#/home/crearUsuario" style="float:left"><span class="fa fa-plus"></span>&nbsp;Agregar</a>
            </div>
          </p-header>
          <p-column header="No.">
            <template let-col let-ente="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{ri + 1}}</span>
            </template>
          </p-column>
          <!--<p-column field="codigoUsuario" header="C&oacute;digo"></p-column>-->
          <p-column field="apellidoPaterno" header="Apellidos"></p-column>
          <p-column field="nombres" header="Nombres"></p-column>
          <p-column field="estado" header="Estado"></p-column>
          <p-column field="mail" header="Email"></p-column>
          <p-column header="Acciones">
            <template let-usuario="rowData" pTemplate="body">
              <a class="btn btn-info btn-xs" href="#/home/editUsuario/{{usuario.enteJuridico}}/{{usuario.codigoUsuario}}"><span class="glyphicon glyphicon-edit"></span></a>
              <button class="btn btn-danger btn-xs" (click)="mostrarConfirmacion(usuario)"><span class="glyphicon glyphicon-remove"></span></button>
            </template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
  <p-dialog header="Usuario" [(visible)]="mostrarPanelUsuario" modal="modal" width="300" responsive="true">
      <form role="form">
      	<div class="col-xs-12">
	      	<div class="col-xs-9">
		        <div class="form-group">
		          <label>Nombres</label>
		          <input type="text" class="form-control" [(ngModel)]="usuario.nombres" name="nombre" />
		        </div>
		        <div class="form-group" [hidden]="true">
		          <label>Apellidos</label>
		          <input type="text" class="form-control" [(ngModel)]="usuario.apellidoPaterno" name="estado" />
		        </div>
	        </div>
	        <div class="col-xs-3">

	        </div>
	  	</div>
      </form>
      <p-footer>
          <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
              <button type="button" class="btn btn-default" icon="fa-close" (click)="mostrarPanelUsuario=false">Cancelar</button>
              <button type="button" class="btn btn-primary" icon="fa-check" (click)="guardarUsuario()">Guardar</button>
          </div>
      </p-footer>
  </p-dialog>
</div>
