<div class="row">
  <div class="col-xs-12">
    <p-growl [value]="mensajes" [sticky]="true"></p-growl>
    <div class="box">
      <div class="box-body">
        <p-dataTable [value]="listaArbitros" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true">
          <p-header>
            <div class="ui-helper-clearfix" style="width:100%">
              <a class="btn btn-primary" href="#/home/crearArbitro" style="float:left"><span class="fa fa-plus"></span>&nbsp;Agregar</a>
            </div>
          </p-header>
          <p-column header="No.">
            <template let-col let-ente="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{ri + 1}}</span>
            </template>
          </p-column>
          <!--<p-column field="codigoArbitro" header="C&oacute;digo"></p-column>-->
          <p-column field="apellidoPaterno" header="Apellidos"></p-column>
          <p-column field="nombres" header="Nombres"></p-column>
          <p-column field="identificacion" header="Identificaci&oacute;n"></p-column>
          <p-column field="estado" header="Estado"></p-column>
          <!--<p-column field="direccion" header="Direcci&oacute;n"></p-column>-->
          <p-column field="mail" header="Email"></p-column>
          <!--<p-column field="observaciones" header="Observaciones"></p-column>-->
          <p-column header="Acciones">
            <template let-arbitro="rowData" pTemplate="body">
              <a class="btn btn-info btn-xs" href="#/home/editArbitro/{{arbitro.enteJuridico}}/{{arbitro.codigoArbitro}}"><span class="glyphicon glyphicon-edit"></span></a>
              <button class="btn btn-danger btn-xs" (click)="mostrarConfirmacion(arbitro)"><span class="glyphicon glyphicon-remove"></span></button>
            </template>
          </p-column>
        </p-dataTable>
      </div>
    </div>
  </div>
  <p-dialog header="Confirmaci&oacute;n" [(visible)]="mostrarPanelConf" modal="modal" width="300" responsive="true">
    <p>
      Esta seguro de eliminar el registro?
    </p>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
          <button type="button" class="btn btn-default" icon="fa-close" (click)="mostrarPanelConf=false">No`</button>
          <button type="button" class="btn btn-primary" icon="fa-check" (click)="eliminarArbitro()">S&iacute;</button>
      </div>
    </p-footer>
  </p-dialog>
</div>
