<div class="row">
  <div class="col-md-12">
    <p-growl [value]="mensajes" [sticky]="true"></p-growl>
    <div class="box">
      <div class="box-body">
        <p-tabView (onChange)="cambiarTab($event)">
          <p-tabPanel header="Equipo"[selected]="!habilitarTabJugador">
            <form role="form" [formGroup]="equipoForm" (submit)="guardarEquipo()">
              <div class="form-group" [ngClass]="{'has-error':!equipoForm.controls['codigoDisciplina'].valid && equipoForm.controls['codigoDisciplina'].touched}">
                <label>Disciplina</label>
                <select id="codigoDisciplina" class="form-control" formControlName="codigoDisciplina" name="codigoDisciplina" >
                  <option value=""></option>
                  <option *ngFor="let disciplina of listaDisciplina" [value]="disciplina.codigoCatalogo">{{disciplina.nombre}}</option>
                </select>
                <ld-validation-messages [control]="equipoForm.controls.codigoDisciplina"></ld-validation-messages>
              </div>
              <div class="form-group" [ngClass]="{'has-error':!equipoForm.controls['codigoLiga'].valid && equipoForm.controls['codigoLiga'].touched}">
                <label>Liga</label>
                <select id="codigoLiga" class="form-control" formControlName="codigoLiga" name="codigoLiga" >
                  <option value=""></option>
                  <option *ngFor="let liga of listaLigas" [value]="liga.codigoLiga">{{liga.nombres}}</option>
                </select>
                <ld-validation-messages [control]="equipoForm.controls.codigoLiga"></ld-validation-messages>
              </div>
              <div class="form-group" [ngClass]="{'has-error':!equipoForm.controls['nombres'].valid && equipoForm.controls['nombres'].touched}">
                <label>Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombres" max="120"/>
                <ld-validation-messages [control]="equipoForm.controls.nombres"></ld-validation-messages>
              </div>
              <div class="form-group" [ngClass]="{'has-error':!equipoForm.controls['numJugadores'].valid && equipoForm.controls['numJugadores'].touched}">
                <label>Num. Jugadores</label>
                <input type="text" class="form-control" id="numJugadores" name="numJugadores" formControlName="numJugadores" max="2"/>
                <ld-validation-messages [control]="equipoForm.controls.numJugadores"></ld-validation-messages>
              </div>
              <div class="form-group" [hidden]="!verInteligas">
                <label>Inter ligas</label>
                <input type="checkbox" />
              </div>
              <div class="form-group" [ngClass]="{'has-error':!equipoForm.controls['estado'].valid && equipoForm.controls['estado'].touched}" [hidden]="esNuevo">
                <label>Estado</label>
                <select id="estado" class="form-control" formControlName="estado" name="estado">
                  <option *ngFor="let estado of listaEstados" [value]="estado.id">{{estado.nombre}}</option>
                </select>
                <ld-validation-messages [control]="equipoForm.controls.estado"></ld-validation-messages>
              </div>
              <div class="btn-group">
                  <div>
                    <button type="submit" class="btn btn-primary" icon="fa-check" [disabled]="!equipoForm.valid"><span class="fa fa-check"></span>&nbsp;Guardar</button>
                    <!--<button class="btn btn-success" data-toggle="modal" data-target="#modalAgregarEquipoJugador" (click)="cargarDatosEquipoJugador()" ><span class="fa fa-plus"></span>&nbsp;Agregar Jugador</button>-->
                    <a href="#/home/equipos" type="button" class="btn btn-warning" icon="fa-check"><span class="fa fa-arrow-circle-left"></span>&nbsp;Cancelar</a>
                    <button type="button" class="btn btn-success" (click)="abrirBusquedaJugador()" *ngIf="!esNuevo"><span class="fa fa-user"></span>&nbsp;Agregar Jugador</button>
                  </div>
              </div>
              <br/>
              <p-dataTable [value]="listaJugadoresEquipo" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true">
                <!--<p-header>
                  <div class="ui-helper-clearfix" style="width:100%">
                    <a class="btn btn-primary" href="#/home/crearJugador" style="float:left"><span class="fa fa-plus"></span>&nbsp;Agregar</a>
                  </div>
                </p-header>-->
                <p-column header="No.">
                  <template let-col let-ri="rowIndex" pTemplate="body">
                      <span>{{ri + 1}}</span>
                  </template>
                </p-column>
                <!--<p-column field="codigoPersona" header="C&oacute;digo"></p-column>-->
                <!--<p-column field="apellidoPaterno" header="Apellido Paterno"></p-column>-->
                <p-column field="nombresJugador" header="Nombre"></p-column>
                <!--<p-column field="tipoId" header="Tipo ID"></p-column>-->
                <p-column field="cedulaJugador" header="Identificaci&oacute;n"></p-column>
                <p-column field="numeroJugador" header="N&uacute;mero Jugador"></p-column>
                <p-column header="Acciones">
                  <template let-jugador="rowData" pTemplate="body">
                    <button class="btn btn-info btn-xs" (click)="editarJugadorEquipo(jugador)"><span class="glyphicon glyphicon-edit"></span></button>
                    <button class="btn btn-danger btn-xs" (click)="mostrarConfirmacion(jugador)"><span class="glyphicon glyphicon-remove"></span></button>
                  </template>
                </p-column>
              </p-dataTable>
            </form>
          </p-tabPanel>
          <p-tabPanel header="Agregar Jugador" *ngIf="habilitarTabJugador" [selected]="habilitarTabJugador">
            <form role="form" [formGroup]="equipoJugadorForm" (submit)="guardarEquipoJugador()">
              <div class="col-md-12 ui-g-nopad">
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Liga</label>
                    <select class="form-control" formControlName="ligaEquipo" name="ligaEquipo" >
                      <option value=""></option>
                      <option *ngFor="let liga of listaLigas" [value]="liga.codigoLiga">{{liga.nombres}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Equipo</label>
                    <select class="form-control" formControlName="codigoEquipo" name="codigoEquipo">
                      <option value=""></option>
                      <option *ngFor="let equipo of listaEquipos" [value]="equipo.codigoEquipo">{{equipo.nombres}}</option>
                    </select>
                  </div>
                </div>

                <!--<ld-jugador-edit [modal]="true"></ld-jugador-edit>-->

                <div class="col-md-9">
                  <div class="col-md-6 ui-g-nopad">
                    <div class="form-group"  [ngClass]="{'has-error':!equipoJugadorForm.controls['nombres'].valid && equipoJugadorForm.controls['nombres'].touched}">
                      <label>Nombres</label>
                      <input id="nombres" formControlName="nombres" type="text" class="form-control" name="nombres" formControlName="nombres" maxlength="100"/>
                      <ld-validation-messages [control]="equipoJugadorForm.controls.nombres"></ld-validation-messages>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['apellidoPaterno'].valid && equipoJugadorForm.controls['apellidoPaterno'].touched}">
                      <label>Apellidos</label>
                      <input type="text" class="form-control" formControlName="apellidoPaterno" name="apellidoPaterno" maxlength="120"/>
                      <ld-validation-messages [control]="equipoJugadorForm.controls.apellidoPaterno"></ld-validation-messages>
                    </div>
                  </div>
                  <div class="col-md-12 ui-g-nopad">
                    <div class="col-md-6 form-group" style="padding-left: 0;" [ngClass]="{'has-error':!equipoJugadorForm.controls['tipoId'].valid && equipoJugadorForm.controls['tipoId'].touched}">
                      <label>Tipo Identificaci&oacute;n</label>
                      <select class="form-control" formControlName="tipoId" name="tipoId" >
                        <option *ngFor="let tipoIdentificacion of listaTipoIdentificaciones" [value]="tipoIdentificacion.id">{{tipoIdentificacion.nombre}}</option>
                      </select>
                      <ld-validation-messages [control]="equipoJugadorForm.controls.tipoId"></ld-validation-messages>
                    </div>
                    <div class="col-md-6 form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['identificacion'].valid && equipoJugadorForm.controls['identificacion'].touched}">
                      <label>Identificaci&oacute;n</label>
                      <input type="text" class="form-control" formControlName="identificacion" name="identificacion" maxlength="13"/>
                      <ld-validation-messages [control]="equipoJugadorForm.controls.identificacion"></ld-validation-messages>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <input type="file" class="form-control" name="fotoJugador" (change)="cargarFotoJugador($event)"/>
                  <img src="{{foto ? 'data:image/jpg;base64,' + foto : ''}}" class="img-responsive pad"/>
                  <!--<ld-display-picture [image]="foto"></ld-display-picture>-->
                </div>
                <div class="col-md-12 ui-g-nopad">
                  <div class="col-md-4">
                    <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['fechaNacimiento'].valid
                      && (equipoJugadorForm.controls['fechaNacimiento'].touched || equipoJugadorForm.controls['fechaNacimiento'].dirty)}">
                      <label>Fecha Nacimiento</label><br/>
                      <!--<p-calendar dateFormat="dd/mm/yy" onBlur="calcularEdad($event)" formControlName="fechaNacimiento"  ></p-calendar>-->
                      <my-date-picker [options]="opcionesCalendario" locale="es" formControlName="fechaNacimiento" name="fechaNacimiento"
                        (dateChanged)="calcularEdad($event)" >
                      </my-date-picker>
                      <ld-validation-messages [control]="equipoJugadorForm.controls.fechaNacimiento"></ld-validation-messages>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Edad</label>
                      <span class="form-control">{{edad}}</span>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['sexo'].valid && equipoJugadorForm.controls['sexo'].touched}">
                      <label>Sexo</label>
                      <select class="form-control" formControlName="sexo" name="sexo">
                        <option value=""></option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                      </select>
                      <ld-validation-messages [control]="equipoJugadorForm.controls.sexo"></ld-validation-messages>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['mail'].valid && equipoJugadorForm.controls['mail'].touched}">
                    <label>Correo Electr&oacute;nico</label>
                    <input type="mail" class="form-control" formControlName="mail" name="mail" maxlength="60"/>
                    <ld-validation-messages [control]="equipoJugadorForm.controls.mail"></ld-validation-messages>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['estado'].valid && equipoJugadorForm.controls['estado'].touched}">
                    <label>Estado</label>
                    <select class="form-control" formControlName="estado" name="estado">
                      <option *ngFor="let estadoJug of listaEstados" [value]="estadoJug.id">{{estadoJug.nombre}}</option>
                    </select>
                    <ld-validation-messages [control]="equipoJugadorForm.controls.estado"></ld-validation-messages>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['amonestacion'].valid && equipoJugadorForm.controls['amonestacion'].touched}">
                    <label>Amonestado</label>
                    <div class="col-md-12 ui-g-nopad">
                      <p-radioButton name="amonestacion" formControlName="amonestacion" value="S" label="S&iacute;"></p-radioButton>
                      <p-radioButton name="amonestacion" formControlName="amonestacion" value="N" label="No"></p-radioButton>
                    </div>
                    <ld-validation-messages [control]="equipoJugadorForm.controls.amonestacion"></ld-validation-messages>
                  </div>
                </div>
                <div class="col-md-12">
                  <label>Direcci&oacute;n</label>
                  <input type="text" class="form-control" formControlName="direccion" name="direccion" maxlength="140"/>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['telefono'].valid && equipoJugadorForm.controls['telefono'].touched}">
                    <label>Tel&eacute;fono</label>
                    <input type="text" maxlength="9" class="form-control" formControlName="telefono" name="telefono" />
                    <ld-validation-messages [control]="equipoJugadorForm.controls.telefono"></ld-validation-messages>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['codigoPais'].valid && equipoJugadorForm.controls['codigoPais'].touched}">
                    <label>Pa&iacute;s</label>
                    <select class="form-control" formControlName="codigoPais" name="codigoPais" (change)="cargarProvincias()">
                      <option value=""></option>
                      <option *ngFor="let pais of listaPaises" [value]="pais.codigoUbicacion">{{pais.nombre}}</option>
                    </select>
                    <ld-validation-messages [control]="equipoJugadorForm.controls.codigoPais"></ld-validation-messages>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['codigoCanton'].valid && equipoJugadorForm.controls['codigoCanton'].touched}">
                    <label>Cant&oacute;n</label>
                    <select class="form-control" formControlName="codigoCanton" name="codigoCanton" (change)="cargarParroquias()">
                      <option value=""></option>
                      <option *ngFor="let canton of listaCantones" [value]="canton.codigoUbicacion">{{canton.nombre}}</option>
                    </select>
                    <ld-validation-messages [control]="equipoJugadorForm.controls.codigoCanton"></ld-validation-messages>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['celular'].valid && equipoJugadorForm.controls['celular'].touched}">
                    <label>Celular</label>
                    <input type="text" class="form-control" formControlName="celular" name="celular" maxlength="13"/>
                    <ld-validation-messages [control]="equipoJugadorForm.controls.celular"></ld-validation-messages>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['codigoProvincia'].valid && equipoJugadorForm.controls['codigoProvincia'].touched}">
                    <label>Provincia</label>
                    <select class="form-control" formControlName="codigoProvincia" name="codigoProvincia" (change)="cargarCantones()">
                      <option value=""></option>
                      <option *ngFor="let provincia of listaPronvincias" [value]="provincia.codigoUbicacion">{{provincia.nombre}}</option>
                    </select>
                    <ld-validation-messages [control]="equipoJugadorForm.controls.codigoProvincia"></ld-validation-messages>
                  </div>
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['codigoParroquia'].valid && equipoJugadorForm.controls['codigoParroquia'].touched}">
                    <label>Parroquia</label>
                    <select class="form-control" formControlName="codigoParroquia" name="codigoParroquia">
                      <option value=""></option>
                      <option *ngFor="let parroquia of listaParroquias" [value]="parroquia.codigoUbicacion">{{parroquia.nombre}}</option>
                    </select>
                    <ld-validation-messages [control]="equipoJugadorForm.controls.codigoParroquia"></ld-validation-messages>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group" [ngClass]="{'has-error':!equipoJugadorForm.controls['numeroJugador'].valid && equipoJugadorForm.controls['numeroJugador'].touched}">
                    <label>N&uacute;mero</label>
                    <input class="form-control" formControlName="numeroJugador" name="numeroJugador" type="text" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label>Capit&aacute;n</label>
                    <input type="checkbox" formControlName="esCapitan" name="esCapitan"/>
                    <label>Dirigente</label>
                    <input type="checkbox" formControlName="esDt" name="esDt"/>
                    <label>Jugador</label>
                    <input type="checkbox" formControlName="esJugador" name="esJugador"/>
                  </div>
                </div>
              </div>
              <div class="btn-group">
                <div>
                  <button type="submit" class="btn btn-primary" [disabled]="!equipoJugadorForm.valid">Guardar</button>
                  <button #btnCerrarEquipoJug type="button" class="btn btn-default" data-dismiss="modal" (click)="cerrarTabPostGuardar()">Cancelar</button>
                </div>
              </div>
            </form>

          </p-tabPanel>


          <!--<p-tabPanel header="Ver Jugadores" [disabled]="esNuevo" [selected]="verJugador">
            <div class="col-xs-12">
              <p-growl [value]="mensajes" [sticky]="true"></p-growl>
              <div class="box">
                <div class="box-body">

                </div>
              </div>
            </div>

          </p-tabPanel>-->
        </p-tabView>
        <p-dialog header="Confirmaci&oacute;n" [(visible)]="mostrarPanelConf" modal="modal" width="300" responsive="true">
          <p>
            Esta seguro de eliminar el registro?
          </p>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn btn-default" icon="fa-close" (click)="mostrarPanelConf=false">No</button>
                <button type="button" class="btn btn-primary" icon="fa-check" (click)="eliminarJugador()">S&iacute;</button>
            </div>
          </p-footer>
        </p-dialog>
        <p-dialog header="B&uacute;squeda Jugador" [(visible)]="mostrarPanelJugador" modal="modal" width="300" responsive="true">
          <div class="col-md-12">
            <form role="form" [formGroup]="busqJugadorForm" >
              <div class="form-group" [ngClass]="{'has-error':busqJugadorForm.controls.cedula.errors && busqJugadorForm.controls.cedula.touched}">
                <label>Identificaci&oacute;n</label>
                <input type="text" class="form-control" formControlName="cedula" name="cedula" maxlength="13" autocomplete="off" lde-only-numbers [allowNumbers]="true"/>
                <ld-validation-messages [control]="busqJugadorForm.controls.cedula"></ld-validation-messages>
              </div>
            </form>
          </div>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn btn-default" icon="fa-close" (click)="mostrarPanelJugador=false">Cancelar</button>
                <button type="button" class="btn btn-primary" icon="fa-check" [disabled]="!busqJugadorForm.valid" (click)="buscarJugadorId()"><span class="fa fa-search"></span>&nbsp;Buscar Jugador</button>
            </div>
          </p-footer>
        </p-dialog>
      </div>
    </div>
  </div>

  <!-- Modal de EQUIPO JUGADOR -->

  <div class="modal fade" id="modalAgregarEquipoJugador" tabindex="-1" role="dialog" aria-labelledby="modalAgregarEquipoJugadorLabel">

  </div>
