<div class="row">
  <div class="col-md-12">
    <p-growl [value]="mensajes" [sticky]="true"></p-growl>
    <div class="box">
      <div class="box-body">
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Filtrar Equipo">
        </div>
        <p-dataTable #dt [value]="listaEquipos" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true" [globalFilter]="gb">
          <p-header>
            <div class="ui-helper-clearfix" style="width:100%">
              <a href="#/home/crearEquipo" class="btn btn-primary" icon="fa-plus" style="float:left" ><span class="fa fa-plus"></span>&nbsp;Agregar</a>
            </div>
          </p-header>
          <p-column header="No.">
            <template let-col let-ente="rowData" let-ri="rowIndex" pTemplate="body">
                <span>{{ri + 1}}</span>
            </template>
          </p-column>
          <!--<p-column field="codigoEquipo" header="C&oacute;digo"></p-column>-->
          <p-column field="nombres" header="Nombre" filterPlaceholder="Search"></p-column>
          <p-column field="estado" header="Estado" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
            <template pTemplate="filter" let-col>
               <p-multiSelect [options]="filtroEstados" defaultLabel="Todas" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
            </template>
          </p-column>
          <p-column field="liga" header="Liga" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
            <template pTemplate="filter" let-col>
               <p-multiSelect [options]="filtroLigas" defaultLabel="Todas" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
            </template>
          </p-column>
          <!--<p-column field="disciplina" header="Disciplina" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
            <template pTemplate="filter" let-col>
               <p-multiSelect [options]="filtroDisciplinas" defaultLabel="Todas" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
            </template>
          </p-column>-->
          <p-column field="interligas" header="Inter Ligas" [filter]="true" filterMatchMode="in" [style]="{'overflow':'visible'}">
            <template pTemplate="filter" let-col>
               <p-multiSelect [options]="filtroInterligas" defaultLabel="Todas" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-multiSelect>
            </template>
          </p-column>
          <p-column header="Acciones">
            <template let-equipo="rowData" pTemplate="body">
              <a href="#/home/editarEquipo/{{equipo.enteJuridico}}/{{equipo.codigoEquipo}}" class="btn btn-info btn-xs" *ngIf="!equipo.codigoEquipoClon"><span class="glyphicon glyphicon-edit"></span></a>
              <a href="#/home/clonEquipo/{{equipo.enteJuridico}}/{{equipo.codigoEquipo}}" class="btn btn-info btn-xs" *ngIf="equipo.codigoEquipoClon"><span class="glyphicon glyphicon-edit"></span></a>
              <button class="btn btn-danger btn-xs" (click)="mostrarConfirmacion(equipo)"><span class="glyphicon glyphicon-remove"></span></button>
              <button class="btn btn-warning btn-xs" (click)="seleccionarEquipoClon(equipo)" *ngIf="equipo.estado == 'A' && equipo.interligas == 'N'"><span class="fa fa-clone"></span></button>
            </template>
          </p-column>
        </p-dataTable>
        <p-dialog header="Confirmaci&oacute;n" [(visible)]="mostrarPanelConf" modal="modal" width="300" responsive="true">
          <p>
            Est&aacute; seguro de eliminar el registro?
          </p>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn btn-default" icon="fa-close" (click)="mostrarPanelConf=false">No`</button>
                <button type="button" class="btn btn-primary" icon="fa-check" (click)="eliminarEquipo()">S&iacute;</button>
            </div>
          </p-footer>
        </p-dialog>

        <p-dialog header="Clonar" [(visible)]="mostrarDialogClon" modal="modal" width="300" responsive="true">
          <form role="form" #clonForm="ngForm">
            <p>
              Est&aacute; seguro de clonar el equipo?
            </p>
            <div class="col-md-12">
              <div class="form-group" [ngClass]="{'has-error':interligas.errors && interligas.touched && interligas.errors.required}">
                <label>Interligas*</label>
                <select class="form-control" [(ngModel)]="esInterligas" name="interligas" #interligas="ngModel" required>
                  <option value="S">S&iacute;</option>
                  <option value="N">No</option>
                </select>
                <ld-validation-messages [control]="interligas"></ld-validation-messages>
              </div>
            </div>
          </form>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn btn-default" icon="fa-close" (click)="mostrarDialogClon=false">Cancelar</button>
                <button type="button" class="btn btn-primary" icon="fa-check" (click)="crearEquipoClon()" [disabled]="!clonForm.form.valid">Crear</button>
            </div>
          </p-footer>
        </p-dialog>
      </div>
    </div>
  </div>
</div>
