<div class="row">
  <div class="col-md-12">
    <p-growl [value]="mensajes" [sticky]="true"></p-growl>
    <div class="box">
      <div class="box-body">
        <p-dataTable [value]="listaRoles" [rows]="10" [paginator]="true" [pageLinks]="3" [responsive]="true">
          <p-header>
            <div class="ui-helper-clearfix" style="width:100%">
              <button type="button" class="btn btn-primary" icon="fa-plus" style="float:left" (click)="mostrarDialogCrearRol()"><span class="fa fa-plus"></span>&nbsp;Agregar</button>
            </div>
          </p-header>
          <p-column header="No.">
            <template let-col let-ri="rowIndex" pTemplate="body">
                <span>{{ri + 1}}</span>
            </template>
          </p-column>
          <!--<p-column field="codigoRol" header="C&oacute;digo"></p-column>-->
          <p-column field="nombre" header="Descripci&oacute;n"></p-column>
          <p-column field="estado" header="Estado"></p-column>
          <p-column header="Acciones">
            <template let-rol="rowData" pTemplate="body">
              <button class="btn btn-info btn-xs" (click)="seleccionarRol(rol)"><span class="glyphicon glyphicon-edit"></span></button>
              <button class="btn btn-danger btn-xs" (click)="mostrarConfirmacion(rol)"><span class="glyphicon glyphicon-remove"></span></button>
            </template>
          </p-column>
        </p-dataTable>
        <p-dialog header="Rol" [(visible)]="mostrarPanelRol" modal="modal" width="300" responsive="true">
            <form role="form">
              <div class="form-group" [hidden]="esNuevo">
                <label>C&oacute;digo</label>
                <input type="text" class="form-control" [(ngModel)]="rol.codigoRol" name="codigoRol" disabled="true" />
              </div>
              <div class="form-group">
                <label>Descripci&oacute;n</label>
                <input type="text" class="form-control" [(ngModel)]="rol.nombre" name="nombre" maxlength="80" />
              </div>
              <div class="form-group" [hidden]="esNuevo">
                <label>Estado</label>
                <select class="form-control" [(ngModel)]="rol.estado" name="estado" >
                  <option value="A">ACTIVO</option>
                  <option value="I">INACTIVO</option>
                </select>
              </div>
            </form>
            <p-footer>
                <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                    <button type="button" class="btn btn-default" icon="fa-close" (click)="mostrarPanelRol=false">Cancelar</button>
                    <button type="button" class="btn btn-primary" icon="fa-check" (click)="guardarRol()">Guardar</button>
                </div>
            </p-footer>
        </p-dialog>
        <p-dialog header="Confirmaci&oacute;n" [(visible)]="mostrarPanelConf" modal="modal" width="300" responsive="true">
          <p>
            Esta seguro de eliminar el registro?
          </p>
          <p-footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button type="button" class="btn btn-default" icon="fa-close" (click)="mostrarPanelConf=false">No`</button>
                <button type="button" class="btn btn-primary" icon="fa-check" (click)="eliminarRol()">S&iacute;</button>
            </div>
          </p-footer>
        </p-dialog>
      </div>
    </div>
  </div>
</div>
