<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-body">
        <form role="form" (submit)="generarReporte()">
          <br/>
          <!--<div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Edad</label>
                <input type="text" class="form-control" id="edad" name="edad" [(ngModel)]="edad" rolName="edad" max="120" maxlength="3"/>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group" >
                <label>Parroquia</label>
                <input type="text" class="form-control" [(ngModel)]="parroquia" id="parroquia" name="parroquia" rolName="parroquia"/>
              </div>
            </div>
          </div>-->
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group" >
                <label>Liga</label>
                <select id="codigoLiga" class="form-control" name="codigoLiga" [(ngModel)]="codigoLiga" (change)="cargarEquiposLiga()" [disabled]="CURRENT_USER.codigoLiga">
                  <option value=""></option>
                  <option *ngFor="let liga of listaLigas" [value]="liga.codigoLiga">{{liga.nombres}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group" >
                <label>Equipo</label>
                <select id="codigoEquipo" [(ngModel)]="equipo" class="form-control" name="codigoEquipo" >
                  <option value=""></option>
                  <option *ngFor="let equipo of listaEquipos" [value]="equipo.codigoEquipo">{{equipo.nombres}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label>Disciplina</label>
                <select id="codigoDisciplina" [(ngModel)]="codigoDisciplina" class="form-control" name="codigoDisciplina" >
                  <option value=""></option>
                  <option *ngFor="let disciplina of listaDisciplina" [value]="disciplina.codigoCatalogo">{{disciplina.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group" >
                <label>Estado</label>
                <select id="estado" class="form-control" name="estado" [(ngModel)]="estado">
                  <option value=""></option>
                  <option *ngFor="let estado of listaEstados" [value]="estado.id">{{estado.nombre}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="btn-group">
                <div>
                  <button type="submit" class="btn btn-primary" icon="fa-check" ><span class="fa fa-check"></span>&nbsp;Generar Reporte</button>
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
