<ul class="sidebar-menu">
  <li class="header">{{headerMenu}}</li>
  <!-- Optionally, you can add icons to the links -->
  <!--<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Link</span></a></li>
  <li><a href="#"><i class="fa fa-link"></i> <span>Another Link</span></a></li>-->
  <li class="treeview" *ngFor="let menu of value">
    <a href="#"><i class="fa fa-link"></i> <span>{{menu.title}}</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ld-sidebar-sub-menu [value]="menu"></ld-sidebar-sub-menu>
  </li>
</ul>
